
p{text-align: justify;
}

#imagem-01 {width:14%;
}

#imagem-02 {width: 30%;
}
#imagem-03 {width: 60%;
}
#imagem-04 {width: 30%;
}
iframe {width:80%;
} 

h1 {color: red;
text-align: center;